	@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Vcrs.Plugins.Extensions.HtmlHelpers
@{
    Layout = null;
}<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VCRS Demo Dealer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="~/css/vcrs-bootstrap.css">
    <link rel="stylesheet" href="~/css/vcrs-default.css">
    @Html.Assets().Styles.Render()
	  @RenderSection("header", required: false)
	
	<script type="text/javascript">
		
		window.vcrsTracking = window.vcrsTracking || {};
			
		window.vcrsTracking.trackEvent = function(eventName, eventData) {
			if (eventName === 'SB:ConfirmService')
			{
				console.log({message: 'take special care of this message', eventData: eventData});
			}
			else
			{
				console.log({eventName: eventName, eventData: eventData});
			}
		}
	
		window.vcrsTracking.trackException = function(error) {
			console.log(error);
		}
	</script>
		
</head>
<body>
	<div class="main-content" role="main">

	@Html.Partial("vcrsTopNavigation")
	<div class="page-content">
	@RenderBody()		
	</div>	
	@Html.Partial("vcrsFooter")
	
	</div>
</body>
</html>